/*Rainbow Wave USER#ID*/
.subtext-2HDqJ7,
.customStatus-1UAQAK,
.hovered-20u3oh,
.title-338goq {
    background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
    animation: gradient-border 3s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}
@keyframes gradient-border {
    0%, 200% {
        background-position: 0 0;
    }

    99.999999999999999% {
        background-position: 130% 0;
    }
}
